version: '3'

services:
  mysql:
    image: mysql:8.0
    volumes:
      - .:/application
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=user_manager
      - MYSQL_USER=symfony
      - MYSQL_PASSWORD=symfony
    ports:
      - "3306:3306"
    command: ["--default-authentication-plugin=mysql_native_password"]
